.parallax1 {
    background-image: url(https://raw.githubusercontent.com/JohnHofbauer/website/main/img/div1.jpg);
    background-size: cover;
    background-position: center center; /* Center the image, crop from both sides */
    height: 100vh; /* fill the window */
    

}

.parallax2 {
    height: 400px;
    background-image: url(https://raw.githubusercontent.com/JohnHofbauer/website/main/img/robotics.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center; /* Center the image, crop from both sides */
    height: 60vh; /* 68% of the window */
}