* {
    border: 0;
    padding: 0;
    margin: 0;


    
}

:root {
  /* CSS HEX */
  --persian-indigo: #360568ff;
  --ksu-purple: #5b2a86ff;
  --shadow-blue: #7785acff;
  --opal: #9ac6c5ff;
  --black: rgb(36, 36, 36);

  --text-color: azure;

  --penn-state-blue: rgb(4, 30, 66);
  --background-color: var(--penn-state-blue);
  --navigation-color: var(--black);
  --foreground-text-color: var(--text-color);
}


div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: big john;
    width: 100%;
    height: auto;

}
    /* top */ 
h2 {
    font-size: 60px;
    padding: 8px 24px;
    
}

.parallax1_text {
  font-size: 60px;
  text-shadow: -10px 10px 0px azure,
                -20px 20px 0px azure;
  padding: 8px 24px;
  
}
/* Education section */ 
.center {
    display: block;
    margin: auto;
    text-align: left;
    width: 70%;

    padding: 10px;
    height: auto;
}

p {
    font-weight:lighter;
    text-align: left;
    padding: 2px;
}

h3 {
    font-size: 60px;
    padding: 8px 24px;
    border-radius: 16px;
    
}
table {
    margin: auto;
    text-align: center;
}
.tab { margin-left: 40px; }
.section1 { 
    display: block;
    text-align: center;
    background: var(--background-color);
    color: var(--foreground-text-color);


}
.section2 {
    display: block;
    text-align: center;
    background: var(--background-color);
    color: var(--foreground-text-color);
}
.title2 {
  color: var(--foreground-text-color);
}

.sub-heading {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;

}
.top-heading {
  padding-top: 5rem;
  padding-bottom: 0.5rem;

}






.container {
  position: relative;
  width: 100%;
  display: block;
}

.divoverlay {
  display: block;
  width: 100%;
  height: auto;
}


/* whatever is read last is more important */ 
.overlay {
  position: absolute; 
  right: 10vh;
  top: 0;
  height: 20vh;
  width: 20vh;
}
@media screen and (max-width: 1200px) {
  .overlay {
    position: fixed; 
    right: 10%;
    top: 20vh;
  }
}

a {
  transition: 0.4s;
}