* {
    border: 0;
    padding: 0;
    margin: 0;


    
}

:root {
  /* CSS HEX */
  --persian-indigo: #360568ff;
  --ksu-purple: #5b2a86ff;
  --shadow-blue: #7785acff;
  --opal: #9ac6c5ff;
  --celadon: #a5e6baff;

  --text-color: azure;

  --penn-state-blue: rgb(4, 30, 66);
  --background-color: var(--penn-state-blue);
  --navigation-color: var(--penn-state-blue);
  --foreground-text-color: var(--text-color);
}


div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: big john;
    width: 100%;
    height: auto;

}
    /* top */ 
h2 {
    font-size: 60px;
    padding: 8px 24px;
    
}

.parallax1_text {
  font-size: 60px;
  text-shadow: -10px 10px 0px azure,
                -20px 20px 0px azure;
  padding: 8px 24px;
  
}
/* Education section */ 
.center {
    display: block;
    margin: auto;
    text-align: left;
    width: 50%;

    padding: 10px;
    height: auto;
}

p {
    font-weight:lighter;
    text-align: left;
    padding: 2px;
}

h3 {
    font-size: 60px;
    padding: 8px 24px;
    border-radius: 16px;
    
}
table {
    margin: auto;
    text-align: center;
}
div:nth-child(2) { 
    display: block;
    text-align: center;
    background: var(--background-color);
    color: var(--foreground-text-color);


}
div:nth-child(4) {
    display: block;
    text-align: center;
    background: var(--background-color);
    color: var(--foreground-text-color);
}


.container {
  position: relative;
  width: 100%;
  display: block;
}

.divoverlay {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  right: 10vh;
  top: 0;
  height: 20vh;
  width: 20vh;
}

a {
  transition: 0.4s;
}

.navigation {
    position: fixed; 
    top: 1vh;
    height: 10vh;
    left: 5%; /* moved left 5% of page width */ 
    width: 90%; /* size is 90% of page width to center the navigation */ 
    transition: 0.4s;

    background:  var(--navigation-color);
    border-radius: 16px;
  }

  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }