:root {
    /* CSS HEX */
    --black: rgb(36, 36, 36);
    --penn-state-blue: rgb(4, 30, 66);
    --background-color: var(--penn-state-blue);
    --navigation-color: var(--black);
    --text-color: azure;
}
/* html overflows under the scrollbar */
body {
    overflow: overlay;
  }
  /* scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  /* bar */
  ::-webkit-scrollbar-thumb {
    background: var(--text-color); 
    border-radius: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
  }