
/// Color gradiants for background 

$ColorPalletGrade1: #1a1a1a;
$ColorPalletGrade2: #363636;
$ColorPalletGrade3: #575757;
$ColorPalletGrade4: #a5a5a5;
$ColorPalletGrade5: #ffffff;

/// Color gradiants for acents 




/// Color gradiants for text 