@use "colors";

/* html overflows under the scrollbar */
body {
  overflow: overlay;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
/* bar */
::-webkit-scrollbar-thumb {
  background: colors.$ColorPalletGrade4;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}
